*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp/
solwork/
*.gpr
*.ini
*.Rproj
solwork
\.vs/
\.git/
#doc
Meta
#docs
scenarios/
.archive/
drafts/
.formatted/
.unformatted/
*.log
*.lst
*.~gm
*.lxi
inst/doc
\.DS_Store
.positai
